/**
 * This is where the SASS is written. It gets compiled into CSS via
 * voodoo magic. Alternatively, you could use Koala - a piece of software.
 *
 * @author Rohit Garg
 */
 
/* Mixins */
@mixin heading {
  font: {
    family: 'Ubuntu Condensed', sans-serif;
    size: 35px;
  }
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #112233;
}

@mixin heading-2 {
  font: {
    family: Georgia, serif;
    size: 25px;
    weight: 100;
    style: italic;
  }
  letter-spacing: 1px;
  padding-bottom: 2px;
  border-bottom: 2px solid #FAF0E6;
}

/* Basic Rules */
* {
  margin: 0px;
  padding: 0px;
}

ol, ul {
  list-style: none;
}

li.widget {
  list-style-type: none;
}

#g-container {
  margin: 0 auto;
  max-width: 1200px;
}

/* Homepage Styling */
#hm-hero {
  @include heading;
  /* background: url("../images/hm-hero.jpg"); */
  text-align: center;
  padding: 20px 0;
  b {
    font-size: 50px;
    margin: 0 10px;
  }
}

.hm-horizontal {
  h2 {
    @include heading-2;
    color: firebrick;
  }
}